<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UploadData</servlet-name>
        <servlet-class>mypack.UploadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Getstatus</servlet-name>
        <servlet-class>mypack.Getstatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Te</servlet-name>
        <servlet-class>mypack.Te</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestUpload</servlet-name>
        <servlet-class>mypack.TestUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadStream</servlet-name>
        <servlet-class>mypack.UploadStream</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>mypack.View</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadData</servlet-name>
        <url-pattern>/UploadData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Getstatus</servlet-name>
        <url-pattern>/Getstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Te</servlet-name>
        <url-pattern>/Te</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>upload.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>TestUpload</servlet-name>
        <url-pattern>/TestUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadStream</servlet-name>
        <url-pattern>/UploadStream</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/View</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
